<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SubsTemplate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E113077115FC5D87E26BECC9F9C259FBD49449F5</string>
				<key>dateExpires</key>
				<string>06/12/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VZDA4522ZH.com.appstea.proto</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VZDA4522ZH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SubsTemplate.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>53d70ca9-858b-4a57-86c6-55184e9f5bca</string>
				<key>dateExpires</key>
				<string>06/12/2022</string>
				<key>name</key>
				<string>match AdHoc com.appstea.proto</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VZDA4522ZH</string>
				<key>name</key>
				<string>APPS TI, OOO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
