<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039626167029-m4thvt3d8gt2b49hqt3jbihp37k6apq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039626167029-m4thvt3d8gt2b49hqt3jbihp37k6apq1</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLwSx3GoGDjUfrno7VJjTkhYNITch8OU</string>
	<key>GCM_SENDER_ID</key>
	<string>1039626167029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appstea.proto</string>
	<key>PROJECT_ID</key>
	<string>subscription-template</string>
	<key>STORAGE_BUCKET</key>
	<string>subscription-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039626167029:ios:e0f6a03c25da9b978b9bbc</string>
</dict>
</plist>